*{
    padding: 0px;
    margin: 0px;
}
        body {
            opacity: 0;
            animation: a1 0.8s forwards ease-out;
        }

        @keyframes a1 {
            to {
                opacity: 1;
            }
        }
#body1{
    background: url(imagens/praiapng.jpeg);
    background-size: cover;

}
#body2{
    background: url(imagens/Equinoccio-de-Primavera-¿Que-es-y-cuando-comienza-en-Mexico.jpg);
    background-size: cover;
}
#body3{
    background: url(imagens/Outono.jpg);
    background-size: cover;
}
#body4{
    background: url(imagens/Windbuchencom.jpg) center center;
    background-size: cover;
}
.counter{
    padding: 5px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    width: 60%;
    margin: auto;
    font-size: 1.2em;
    line-height: 1.2em;
}
#counter1{
    color:#177e17;
    background-color: #ffee2fca;
}
#counter2{
    background-color: pink;
    color: rgb(85, 61, 61);
}
#counter3{
    background-color: #e46a3df1;
    color: rgba(240, 231, 115, 0.904);
}
#counter4{
    background-color: rgba(30, 177, 245, 0.664);
    color:rgba(26, 25, 25, 0.863)
}
p{
    text-align: justify;
}
#sol{
    height: 90px;
    width: 90px;
    position: flex;
    display: flex;
    margin-left: 100px;
    margin: auto;
}
#sol:hover{
    transition: 0.5s ease;
}
#sol:hover:hover{
    transform: rotate(360deg);
}
header{
    text-align: center;
    background-color: rgba(231, 229, 229, 0.932);
    height: 55px;
}
#botão{
    width: 120px;
    text-align: center;
    padding: 15px;
    background-color: #177e17;
    color: #ffee2fca;
}
#botão2{
    width: 120px;
    text-align: center;
    padding: 15px;
    background-color: pink;
    color:rgb(75, 42, 42);
}

#botão2:hover{
    background-color: rgb(75, 47, 47);
    color:pink ;
}
#botão3{
    width: 120px;
    text-align: center;
    padding: 15px;
    background-color: #e46a3df1;
    color:#ffee2fca;
}
#botão3:hover{
    background-color: #ffee2fca;
    color:#e46a3df1;
}
#botão4{
    width: 120px;
    text-align: center;
    padding: 15px;
    background-color: #1e8cd4;
    color:rgb(10, 10, 10);
}
#botão4:hover{
    background-color: black;
    color:#1e8cd4 ;
}

#botão:hover{
    background-color: #ffee2fca;
    color: #177e17;
}
.botão{
    margin: 5px;
    text-align: center;
}